// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
	background-color: #fff;
}

.main-logo {
	height: 47px;
    width: 205px;
    margin: 0px !important;
    display: block;
    background-image: url(../assets/imgs/logo.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
	height: 45px;
    width: 235px;
    margin: 0 auto;
    display: block;
    background-image: url(../assets/imgs/logo.png) !important;
	background-repeat: no-repeat;
    margin-top: 15px;
}

* {
	color: #345179;
}

.button-inner {
	color: #fff;
}

.scroll-content {
	background-color: #2A4C6E;
}

.button-ios {
	background-color: #345179;
	color: #fff;
}